.espacologo{
  margin-top: 70px;
}
.txtjustificado{
  text-align: justify;
  font-family: FreeMono, monospace;
}
.iconmax{
  font-size: 100px;
  text-align: center;
  padding-top: 30px;
}
.redesoc{
  padding-top: 10px !important;
}
.right{
  margin-top: 30px;
}
.espacar{
  margin-left: 90px;
  margin-top: 30px;
}